<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" type="text/css" />
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale-1">
</head>
<body>
    <div class="bg"> </div>
    <div class="site-wrapper">
            <header class="masthead clearfix">
            <div class="inner">
              <nav class="nav nav-masthead">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#portfolio">Portfolio</a>
                <a class="nav-link" href="#equipment">Equipment</a>
                <a class="nav-link" href="#contact">Contact</a>
              </nav>
            </div>
        </header>
        <div class="full-height-container">
            <main role="main" class="inner cover message">
                <h1 class="cover-heading">Photography by Bas</h1>
                <p class="lead">
                    I make photographs when I travel the globe. Rough landscape, colors,
                    architecture, abstract and urban cities.
                </p>
            </main>
        </div>
        
        <section id="portfolio" class="full-height-container">
            <div class="main">

<h3>PORTFOLIO</h3>
<p>Some examples of my work. Also viewable on your tablet or smartphone.</p>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column col-xs-12 col-md-3 col-sm-6">
    <div class="content">
      <img src="assets/images/ijsland1.jpg" style="width:100%">
      <h3>Landscapes</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
</div>
  <div class="column col-xs-12 col-md-3 col-sm-6">
    <div class="content">
    <img src="assets/images/NYurbanlights.jpg" style="width:100%">
      <h3>Urban lights</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
</div>
  <div class="column col-xs-12 col-md-3 col-sm-6">
    <div class="content">
    <img src="assets/images/NYatnight.jpg" style="width:100%">
      <h3>Night pictures</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
</div>
  <div class="column col-xs-12 col-md-3 col-sm-6">
    <div class="content">
    <img src="assets/images/NYdiafragma.jpg" style="width:100%">
      <h3>Diafragma</h3>
      <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
    </div>
  </div>
<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>
        </section>
        <section id="equipment" class="full-height-container">
            <div class="vertical-center">
                <h3>I use the Sony A6000. It's the systemcamera of the A series of Sony. </h3>
                
                <p> Sony A6000 </p>
            </div>
            
        </section>
        <section id="contact" class="full-height-container">
        <div class="row bg-color-contact">
            <div>
                <h3 class="contact-heading uppercase text-center">Got a project in mind?</h3>
                <h5 class="uppercase text-center">Let's work together</h5>
            </div>
            <!-- button type="submit" class="btn btn-secondary center-block" a=href >Send Project Request</button> -->
            <div class="center-form">
                <form>
                <input type="text" name="name" class="form-control" id="fullname" placeholder="Name" required/>
                <input type="text" name="emailaddress" class="form-control" id="emailaddress" placeholder="Email" required/>
                <textarea rows="5" name="projectsummary" class="form-control" id="projectsummary" placeholder="Project Description" required></textarea>
                <a class="button" href="project.html">Send Project Request</a>
                </form>
            </div>
        </div>
    </section>
        <footer class="mastfoot">
            <div class="center">
                <p>Designed by me</p>
            </div>
        </footer>
    </div>
</html>